footer {
    background-color: var(--color-primary);
    font-size: 0.9rem;
    margin-top: 7rem;
    padding: 3rem 0;
    text-align: center
}

footer a {
    color: var(--color-bg)
}

.logo {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.permlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.permlinks,
.foter_social {
    display: flex;
    justify-content: center
}

.foter_social {
    gap: 1rem;
    margin-bottom: 4rem
}

.foter_social a {
    background-color: var(--color-bg);
    border: 1px solid transparent;
    border-radius: .5rem;
    color: var(--color-white);
    display: flex;
    padding: .8rem
}

.foter_social a:hover {
    background-color: initial;
    border-color: var(--color-bg);
    color: var(--color-bg)
}

.copyright {
    color: var(--color-bg);
    font-size: 1rem;
    margin-bottom: 4rem
}

/*=============== MEDIA QUERIES (SMALL DEVICES)======*/

@media screen and (max-width:600px) {
    .foter_social {
        margin-bottom: 2.6rem
    }
}